<html>
	<head>
		<link href = "style.css" rel="stylesheet">
	</head>
	<body>
	<p><img src= "logo.png" stlye ="float:left;"/> lorem ipsum dolor sit amet,constrektutur adipissicing elit.</br> Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis,totam corporis ea,alias at unde.</p>
	<img class = "icon" src="001-email.png" style/><h2>@devi.dn0112@gmail.com</h2>
	<img class = "icon" src="002-smartphone.png" style/><h3>08385473558</h3>
	<img class = "icon" src="003-twitter.png" style/><h4>@devinurhayati</h4>
	<img class = "icon" src="004-facebook.png" style/><h5>devinurhayati</h5>
	<img class = "icon" src="005-instagram.png" style/><h4>@devinurhayati</h4>



		<div class="header">
			<h1><small><i>Welcome To our Project</i></small>
				<br>IT'S NICE TO MEET YOU<br/>
			</h1>
		</div>
		<div class = "menu">
		<ul>
			<li><a href="">PROJECT</a></li>
			
		</ul>
		</div>
		<div class = "content">
			<div class="subc"></div>
			<div class="subc"></div>
			<div class="subc"></div>
		</div>
	</body>
</html>